
<h1>Listing Clients</h1>
<div class="col-sm-12">
<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Industry</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @clients.each do |client| %>
      <tr>
        <td><%= client.name %></td>
        <td><%= client.industry %></td>
        <td><%= link_to 'Show', client %></td>
        <td><%= link_to 'Edit', edit_client_path(client) %></td>
        <td><%= link_to 'Destroy', client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
  </div>
</table>

<br>

<%= link_to 'New Client', new_client_path %>
