<%= form_for(@expense) do |f| %>
  <% if @expense.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@expense.errors.count, "error") %> prohibited this expense from being saved:</h2>

      <ul>
      <% @expense.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :activity %><br>
    <%= f.text_field :activity, class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :vendor_id %><br>
    <%= f.collection_select :vendor_id, Vendor.all,
                            :id, :name, { prompt: "Select a client" },
                            class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :client_id %><br>
    <%= f.collection_select :client_id, Client.all,
                            :id, :name, { prompt: "Select a client" },
                            class: "form-control" %>
  </div>
  <div class="field">
    <%= f.label :cost %><br>
    <%= f.text_field :cost, class: "form-group" %>
  </div>
  <div class="form-group">
    <%= f.label :approved %><br>
    <%= f.check_box :approved %>
  </div>
  <div class="field">
     <%= f.label :receipt %><br>
     <%= f.file_field :receipt, class: "form-group" %>
    </div>
  <br>
  <div class="field-group">
    <%= f.submit %>
  </div>
<% end %>
