

<h1>Listing Expenses</h1>

<table class="table">
  <thead>
    <tr>
      <th>Activity</th>
      <th>Vendor</th>
      <th>Client</th>
      <th>Cost</th>
      <th>Approved</th>
      <th colspan="6"></th>
    </tr>
  </thead>

  <tbody>
    <% @expenses.each do |expense| %>
      <tr>
        <td><%= expense.activity %></td>
        <td><%= expense.vendor.name %></td>
        <td><%= expense.client.name %></td>
        <td><%= expense.cost %></td>
        <td align="center"><%= expense.approved ? 'âœ”ï¸Ž':'ð™“' %></td>
        <td><%= link_to 'Show', expense %></td>
        <td><%= link_to 'Edit', edit_expense_path(expense) %></td>
        <td><%= link_to 'Destroy', expense, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Expense', new_expense_path %>
